* {
    background-color: rgb(255, 243, 251);
    padding-top: 3px;
}

img {
    border-radius: 19000px;
}

h1 {
    text-align: left;
}


a {
    background-color: rgb(250, 129, 214);
    padding: 5px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
    color: #eee;
}

a:hover {
    background-color: rgb(136, 32, 115);
}